<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="things/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <meta charset="utf-8">
    <title>Movement project</title>
  </head>
  <body ng-app="application">
    <div ng-controller="Test">
      <h1>Heres the title</h1>
      <button type="button" name="button" ng-click="printy()">Hullo</button>
      <button type="button" name="button" ng-click="toggle()">{{tog}}</button>

    <input type="text" name="" value="" placeholder="X" ng-model="x">
    <input type="text" name="" value="" placeholder="Y" ng-model="y">
    <button type="button" name="button" ng-click="start()"> Start!</button>
    <div>
      <button type="button" name="button" ng-click="move('up')">Up</button>
    </div>
    <div>
      <button type="button" name="button" ng-click="move('left')">Left</button>
      <button type="button" name="button" ng-click="move('right')">Right</button>
    </div>
    <div>
      <button type="button" name="button" ng-click = "move('down')">Down</button>
      <p>x: {{xP}} y:{{yP}}</p>
      </div>
    </div>
  </body>
</html>
